<section class="hero is-info is-fullheight">
    {% extends "base.html" %}
    {% block content %}
    <div class="box content" style="margin: auto 20%;">
        <div class="title">說明</div>
        <div class="content">
            <h3><strong>📰新聞快報</strong></h3>
            <p>這部分專注於呈現近期與NBA相關的新聞資訊。使用者可以輸入關鍵字並設定需要顯示的新聞數量，系統會自動抓取Yahoo新聞中的相關內容，並即時更新，確保資訊的時效性與準確性。這功能讓使用者快速掌握最新的聯盟動態，包括球員交易、比賽亮點和熱門話題。
            </p>
            <h3><strong>📆近期賽事預測</strong></h3>
            <p>此功能提供當日比賽的完整資訊，包括對戰隊伍、預測比分、以及兩隊的勝率分析。為了更直觀地呈現隊伍實力，系統會生成雷達圖，從多個維度展示兩隊的能力對比。使用者還可以選取任意日期，查看當天的比賽資訊及預測結果，滿足不同使用者的需求。
            </p>
            <h3><strong>👥隊伍資訊分析</strong></h3>
            <p>在這個部分，使用者可以選擇特定的賽季期間及兩支隊伍名稱，系統將生成對應的雷達圖，從多角度展示兩隊的能力數據，幫助使用者快速理解隊伍的強弱與特點。這功能非常適合用於比賽前的深入分析。</p>
            <h3><strong>🏀球員資訊分析</strong></h3>
            <p>此功能專為喜愛深入研究球員表現的使用者設計。使用者選定賽季期間和隊伍名稱後，系統將生成該隊伍的球員數據表格，詳細列出每位球員的各項數據。</p>
            <ul>
                <li>點選「AI分析」按鈕，系統會自動整理表格並提供智能分析與簡要說明，幫助使用者更好地解讀數據。</li>
                <li>點選表格中的球員姓名，系統將呈現該球員歷年來的表現數據，供使用者深入了解球員的成長與變化趨勢。</li>
            </ul>
            <h3><strong>歷年賽季日期</strong></h3>
            <p>以下是2014至2024年NBA賽季的開始日期和結束日期：</p>
            <ul>
                <li>2014-2015 賽季：2014年10月28日 - 2015年4月15日</li>
                <li>2015-2016 賽季：2015年10月27日 - 2016年4月13日</li>
                <li>2016-2017 賽季：2016年10月25日 - 2017年4月12日</li>
                <li>2017-2018 賽季：2017年10月17日 - 2018年4月11日</li>
                <li>2018-2019 賽季：2018年10月16日 - 2019年4月10日</li>
                <li>2019-2020 賽季：2019年10月22日 - 2020年3月11日（受到COVID-19疫情影響，賽季延後）</li>
                <li>2020-2021 賽季：2020年12月22日 - 2021年5月16日（縮短賽季）</li>
                <li>2021-2022 賽季：2021年10月19日 - 2022年4月10日</li>
                <li>2022-2023 賽季：2022年10月18日 - 2023年4月9日</li>
                <li>2023-2024 賽季：2023年10月24日 - 2024年4月14日</li>
                <li>2024-2025 賽季：2024年10月22日 - 2025年4月</li>
            </ul>
            <h3><strong>專有名詞介紹</strong></h3>
            <p><strong>二分：</strong></p>
            <ul>
                <li><strong>FGM (Field Goals Made)：</strong>進球數,即投籃成功的次數。</li>
                <li><strong>FGA (Field Goals Attempted)：</strong>投籃次數,即所有的投籃出手次數。</li>
                <li><strong>FG% (Field Goal Percentage)：</strong>投籃命中率,即進球數除以投籃次數（FGM/FGA）。</li>
            </ul>
            <p><strong>三分：</strong></p>
            <ul>
                <li><strong>3PM (3-Point Field Goals Made)：</strong>三分球進球數,即成功的三分球數。</li>
                <li><strong>3PA (3-Point Field Goals Attempted)：</strong>三分球出手數,即所有三分球的出手次數。</li>
                <li><strong>3P% (3-Point Field Goal Percentage)：</strong>三分球命中率,即三分球進球數除以三分球出手數（3PM/3PA）。</li>
            </ul>
            <p><strong>罰球：</strong></p>
            <ul>
                <li><strong>FTM (Free Throws Made)：</strong>罰球命中數,即罰球成功的次數。</li>
                <li><strong>FTA (Free Throws Attempted)：</strong>罰球次數,即所有罰球的出手次數。</li>
                <li><strong>FT% (Free Throw Percentage)：</strong>罰球命中率,即罰球命中數除以罰球出手數（FTM/FTA）。</li>
            </ul>
            <p><strong>籃板：</strong></p>
            <ul>
                <li><strong>OREB (Offensive Rebounds)：</strong>進攻籃板球,即球隊進攻方搶到的籃板球。</li>
                <li><strong>DREB (Defensive Rebounds)：</strong>防守籃板球,即球隊防守方搶到的籃板球。</li>
                <li><strong>REB (Rebounds)：</strong>籃板球總數,即進攻籃板球和防守籃板球之和。</li>
            </ul>
            <p><strong>其他：</strong></p>
            <ul>
                <li><strong>AST (Assists)：</strong>助攻數,即成功協助隊友進球的次數。</li>
                <li><strong>STL (Steals)：</strong>抄截數,即成功搶斷對手球權的次數。</li>
                <li><strong>BLK (Blocks)：</strong>封蓋數,即成功阻止對手投籃的次數。</li>
                <li><strong>TO (Turnovers)：</strong>失誤數,即因控球失誤將球權交給對手的次數。</li>
                <li><strong>PF (Personal Fouls)：</strong>個人犯規數。</li>
                <li><strong>PTS (Points)：</strong>得分,即球員或球隊的總得分。</li>
            </ul>
        </div>
        <strong>若有任何問題或建議，歡迎聯繫我：</strong><br>
        <!-- 作者 -->
        👨‍💻 <strong>作者:</strong> 陳鎮均<br>
        📧 <strong>Email:</strong> gerryearth@gmail.com<br>
        更新資料日期：2024年12月1日
    </div>
    {% endblock %}
</section>